@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    background-color: #B22222;
    margin-left: 10px;
    margin-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    margin-left: 10px;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.0rem;
    margin-bottom: 0px; 
}

h3 {
    font-family: 'Abel', serif;
    font-size: 1.5rem;
    margin-bottom: 0px; 
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-weight: 700;
    color: #B22222;
}

p {
    font-family: 'Abel', 'serif';
    color: rgba(0, 0, 0, 0.9);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 20px;
}

a {
    color: #B22222;
}

button {
    background: #d23e32;
    color: #fdcb44;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 40px;
    border: solid 3px #fdcb44; 
    border-radius: 10px;
    margin-left: 10px;
}
button:hover {
    background: #fdcb44;
    color: #d23e32;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid #B22222;
    margin: 1em 0;
    padding: 0; 
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    -moz-animation-name: animatebottom;
    -moz-animation-duration: 1s;
    -o-animation-name: animatebottom;
    -o-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@-moz-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@-o-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

.mainDiv {
    background-color: white;
    margin:1px;
    border-radius: 10px;
}

.skillDiv {
    margin:10px;
}

.professionalList ul, 
.professionalList li {
    font-family: 'Abel', 'serif';
    font-size: 20px;
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.imgcontainer {
    height: 150px;
    max-width:200px;
}

.imgcontainer2 {
    height: 100px;
    max-width:150px;
    margin-left: 10px;
}

.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    border-left: 2px solid rgba(178, 34, 34, 1);
}

.timeline-item div{
    padding: 0em;
}

.timeline-item p {
    font-family: 'Abel', 'serif';
    font-size: 20px;
}

.timeline-item::before {
    content: attr(date-is);
    color: #B22222;
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .8rem;
}

.timeline-item::after {
    width: 15px;
    height: 15px;
    display: block;
    top: 1em;
    position: absolute;
    left: -10px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(178, 34, 34, 1);
    background: #fdcb44;
}

.timeline-item:last-child {
    -o-border-image: linear-gradient(to bottom, rgba(178, 34, 34, 0.8) 60%, transparent) 1 100%;
    border-image: -webkit-linear-gradient(top, rgba(178, 34, 34, 0.8) 60%, transparent) 1 100%;
    border-image: linear-gradient(to bottom, rgba(178, 34, 34, 0.8) 60%, transparent) 1 100%;
}