body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  background-color: white;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h4 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  color: #343a40;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #B22222;
}

.list-social-icons a:hover {
  color: #771414;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 4.5rem;
}

.list-icons .list-inline-item i:hover {
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@font-face {
  font-family: 'blackPanther';
  src: url('blackPanther.ttf') format('truetype');
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 12rem;
    max-height: 12rem;
    border: 0.5rem solid rgba(255, 204, 0);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #B22222 !important;
}

.text-primary {
  color: #B22222 !important;
}

a {
  color: #B22222;
}

a:hover, a:focus, a:active {
  color: #824027;
}

.btn {
  background-color: #B22222;
  border-color: #B22222;
  color: #FFCC00;
}

.btn:hover, .btn:active, .btn:visited, .btn:focus {
  background-color: #771414;
  border-color: #771414;
  color: #FFCC00;
}

.imgcontainer {
  height: 150px;
  max-width:200px;
}

.resize_fit_center {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

.bgimg {
    background-image: url('../img/AkhilMain.jpg');
}

[aria-expanded="false"] .menu__icon--open {
    display: block;
}

[aria-expanded="false"] .menu__icon--close {
    display: none;
}

[aria-expanded="true"] .menu__icon--open {
    display: none;
}

[aria-expanded="true"] .menu__icon--close {
    display: block;
}

.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(178, 34, 34);
}

.timeline-item div{
  padding: 0em;
}

.timeline-item p {
  font-size: 1rem;
}

.timeline-item::before {
  content: attr(date-is);
  color: #B22222;
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: .8rem;
}

.timeline-item::after {
  width: 15px;
  height: 15px;
  display: block;
  top: 1em;
  position: absolute;
  left: -8px;
  border-radius: 10px;
  content: '';
  border: 2px solid rgba(178, 34, 34);
  background: #FFCC00;
}

.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(178, 34, 34, 0.8) 60%, transparent) 1 100%;
     border-image: -webkit-linear-gradient(top, rgba(178, 34, 34, 0.8) 60%, transparent) 1 100%;
     border-image: linear-gradient(to bottom, rgba(178, 34, 34, 0.8) 60%, transparent) 1 100%;
}
