body {
  background-color: #e6e6f2;
}
.navbar-brand {
  font-family: 'Leckerli One', cursive;
}
.main-content {
}

.card {
  margin: 20px;
  border-radius: 10px;
}

.bg-purp-blue {
  background-color: #30305b;
}

@media screen and (max-width: 768px) {
  .card {
    margin: 10px;
  }
}