@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
html {
  position: relative;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  color: #093637;
}

a {
  text-decoration: none;
}
.gamer {
  color: #324e63;
}

.gamer:hover {
  color: #a58b61;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  -moz-animation-name: animatebottom;
  -moz-animation-duration: 1s;
  -o-animation-name: animatebottom;
  -o-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@-moz-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@-o-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  background: #44A08D; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #44A08D,
    #093637
  );
  background: linear-gradient(
    to right,
    #44A08D,
    #093637
  );
  display: flex;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.profile-card {
  width: 100%;
  min-height: 300px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 15px;
  max-width: 500px;
  position: relative;
}

.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}

.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.1s;
}

.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: 0.1s;
}

.profile-card__img {
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 5px #ffffff;
}

@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 150px;
    height: 150px;
  }
}

.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 20px;
  transition: all 0.3s;
}

.profile-card__name {
  font-weight: 700;
  font-size: 35px;
  color: #093637;
  margin-bottom: 15px;
}

.profile-card__txt {
  font-size: 20px;
  font-weight: 500;
  color: #093637;
  margin-bottom: 15px;
}

.profile-card__txt strong {
  font-weight: 700;
}

.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}

.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}

.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}

@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}

.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}

.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}

.profile-card-social {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-card-social__item {
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 25px;
  flex-shrink: 0;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .profile-card-social__item {
    width: 45px;
    height: 45px;
    margin: 5px;
  }
}

@media screen and (min-width: 768px) {
  .profile-card-social__item:hover {
    transform: scale(1.2);
  }
}

.profile-card-social__item.linkedin {
  background: linear-gradient(45deg, #0e76a8, #0b5e86);
  box-shadow: 0px 4px 10px rgba(63, 65, 67, 0.7);
}

.profile-card-social__item.github {
  background: linear-gradient(45deg, #333, #626b73);
  box-shadow: 0px 4px 10px rgba(63, 65, 67, 0.7);
}

.profile-card-social__item.facebook {
  background: linear-gradient(45deg, #4966a5, #3b5998);
  box-shadow: 0px 4px 10px rgba(63, 65, 67, 0.7);
}

.profile-card-social__item.medium {
  background: linear-gradient(45deg, #00ab6c, #08ca83);
  box-shadow: 0px 4px 10px rgba(63, 65, 67, 0.7);
}

.profile-card-social__item.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 10px rgba(63, 65, 67, 0.7);
}

.profile-card-social__item.mail {
  background: linear-gradient(45deg, #626296, #454579);
  box-shadow: 0px 4px 10px rgba(63, 65, 67, 0.7);
}

.profile-card-social__item.gmail {
  background: linear-gradient(45deg, #ee2c2c, #a30303);
  box-shadow: 0px 4px 10px rgba(63, 65, 67, 0.7);
}

.profile-card-social__item.blog {
  background: linear-gradient(45deg, #fcae00, #e45600);
  box-shadow: 0px 4px 10px rgba(63, 65, 67, 0.7);
}

.profile-card-social .icon-font {
  display: inline-flex;
}

.lowerButtons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lowerButton {
  flex: 1 1 0;
  min-width: 200px;
  max-width: 300px;
  background: linear-gradient(90deg, #44A08D, #093637);
  color: #ffffff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 4px 6px;
  cursor: pointer;
  border-radius: 10px;
  border-color: white;
  font-size: 0.875em;
  display: inline-block;
  transition: all 0.3s;
}

.lowerButton:hover {
  border-width: 2px;
  border-color: #093637;
  background: #ffffff;
  color: #093637;
}
lowerButton-red {
  background: linear-gradient(45deg, #b33b3b, #7a1313);
}

@media screen and (min-width: 768px) {
  .lowerButton:hover {
    scale: 1.1;
  }
}
